h1{
	color:red;
	font-weight:500;
	font-family:Arial; 
	font-size:20px;
}

 h2{
    	color: black ;
    	font-size: 16px;
    }

 img{
    	border:solid blue 1px;
    }

p:nth-child(3) {
    	color:yellow; 
    	font-size:14px;
    }